h1 {
  font-family: impact,fantasy;
  color: limegreen;
  font-size: 50px;
}
body.dark-mode {
  background-color: black;
  color: white;
}

.character-card.dark-mode {
  background-color: #333;
  color: white;
}